/*//////////////////////////////////////////////Header////////////////////////////////////*/

:root{
    --primary-color: #6c36f0;
    --secondary-color: #f5f5f5;
}
body {
    transition: background-color 1s ease-in-out;
  }
  

.signup{
    background-color: #6c36f0;
    color: white;
    font-weight: 500;
    padding: 8px 35px;
    border-radius: 6px;
    border:1px solid rgb(108, 54, 240);
    font-size: 16px;
 }
 .login{
    background-color: white;
    color: black;
    border-left: 1px solid rgb(175, 174, 179);
    border-right: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-weight: 500;
    padding: 6px 20px;

 }
 .commonLink{
   background-color: white;
   color: black;
   border: 1px solid rgb(255, 255, 255);

   border-radius: 6px;

   font-weight: 500;
   padding: 6px 20px;

}
.commonLink:hover{
   background-color: rgb(240, 238, 236);
   border: 1px solid rgb(175, 174, 179);
   transition: all 0.3s ease-in-out;
}

 .login:hover{
    background-color: rgb(240, 238, 236);
    
    border-radius: 6px;
    border: 1px solid rgb(175, 174, 179);
    transition: all 0.3s ease-in-out;
 }
 .signup:hover{
    background-color: rgb(81, 31, 207);
    transition: all 0.2s ease-in-out;
 }
/*********************************************************************************************************/




/*//////////////////////////////////////////////Main Middle content///////////////////////////////*/

.mainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.mainSection a{
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.mainHeading{
    text-align: center;
    font-size: 60px;
    margin-top: 60px;
    letter-spacing: -0.2px;
    word-spacing: 10px;
    font-weight: bold;
}
.subHeading{
    text-align: center;
    font-size: 20px;
    color: grey;
    margin-top: 20px;
}
.mainBtn{
    background-color: rgb(108, 54, 240);
    color: white;
    font-weight: 500;
    padding: 10px 35px;
    border-radius: 6px;
    border:1px solid rgb(108, 54, 240);
    max-width: 150px;
    font-size: 18px;

}

.startingVideoContainer{
    width: 100%;
    
    position: relative;
    margin-top: 50px;

}
.topImage{
    width: 100%;
    height: 100%;
}
.backgroundImg{
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 1px 1px 25px 13px rgba(0,0,0,0.56); 
    box-shadow: 1px 1px 25px 13px rgba(0,0,0,0.56);
    
}
.backgroundImageWrapper{
    width: 100%;
    height: 700px;
    z-index: -1;

}
.startingVideoContainer .topImageWrapper{
    margin: auto;
    z-index: 1;
    position: absolute;
    
    left :120px;
    

    height: 700px;
    width: 80%;
    transform: translate3d(0px, 0px, 0px);
    
}

.mainBtn:hover{
    background-color: rgb(81, 31, 207);
    transition: all 0.2s ease-in-out;
 }

 /*Slider Content*/
    .sliderContainer{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        margin-top: 100px;
        
    }
    .sliderContainerLeft{
        width: 45%;
        height: 100%;
        overflow: hidden;
        align-items: center;
        
    }
   
    
    
    .sliderContainerRight{
        width: 45%;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
      
        position: sticky;
        top:80px;
        margin-bottom: 30px;
        
    }
    .sliderContainerRight img{
        border-radius: 15px;
        border: 5px solid rgb(178, 171, 171);
    }
    .sliderImage{
        transition: opacity 9s ease-in-out;
    }
    .sliderImage.hidden {
        opacity: 0.9;
    }

    /*Slider Content Left*/
    .sliderContainerLeftContent{
        margin-bottom: 30px;
        height: 600px;
        width: 100%;
     
    }
   
      .sliderContainerLeftContent h1,
      .sliderContainerLeftContent p {
        transition: color 0.5s ease-in-out;
      }
    .sliderContainerLeftContent h1{
        margin-top: 30px;
        font-size: 27px;


    }
    .sliderContainerLeftContent p:nth-of-type(1){
        margin-top: 23px;
        font-weight: 500;
        font-size: 45px;

    }
    .sliderContainerLeftContent p:nth-of-type(2){
        font-weight: 300;
        font-size: 20px;
    }

/*********************************************************************************************************/




/*//////////////////////////////////////////////Footer///////////////////////////////*/


 .footer{
    background-color: rgb(251, 245, 239);
    border-top:2px solid #6c36f0;
    margin-top: 34px;
    padding:60px 0px;
    
}
.footer >div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    gap: 35px;
   
    
}
.footer >div h5 {
    font-size: 20px;
    font-weight: 500;
    text-align: left;


}
.footer >div p{
    text-align: left;
}
.icons *{
    width: 34px;
    height: auto;
}


/*//////////////////////////////////////////Signup Form//////////////////////////////////////*/

.signUpForm{
    width: 30%;
    height: 100vh;
    min-width: 400px;
    margin: auto;
}
.signUpFormContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;  
}


.signUpFormContainer .logo{
    width: 100%;
    height:15%;
    
}

    
 .signUpFormContainer .signUpHeading{
    width: 100%;
    text-align: center;
    height: 10%;
 }

 /*********Sign up with goole***********/
 .signUpFormContainer .continueWithGoogle{
    margin-bottom: 15px;
    
    width: 97%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid rgb(199, 163, 42);
    height: 6%;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid #f5f5f5;
    border-radius: 9px;
   

 }
 .signUpFormContainer .continueWithGoogle:hover{
    background-color: #f5f5f5;
    cursor: pointer;
 }
 
 /*********Email and Password form***********/

 .signUpFormContainer .emailAndPassword{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    height: 40%;
    width: 100%;

 }
 /*Email input box*/
 .signUpFormContainer .emailAndPassword .email{
    border-radius: 8px;
    width: 92%;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    border:1px solid #d4cfcf;
    margin-top: 10px;
    margin-bottom: 15px;
 }
.signUpFormContainer .emailAndPassword .email input{
        border: none;
        outline: none;
}
/*Password input box*/
.signUpFormContainer .emailAndPassword .password{
    margin-bottom: 15px;

    border-radius: 8px;
    width: 92%;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    border:1px solid #d4cfcf;
    margin-top: 10px;
 }
 .signUpFormContainer .emailAndPassword .password .passwordInput{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

.signUpFormContainer .emailAndPassword .password input{
        border: none;
        width: 90%;
        outline: none;
}
.signUpFormContainer .emailAndPassword .password .passwordInput .passwordIcon{
    width: 25px;
    height: auto;
    cursor: pointer;
 }

  /*********Sign up button***********/
  .signUpFormContainer .emailAndPassword button{
    margin-bottom: 15px;

    width: 95%;
    height: 22%;
    display: flex;
    justify-content: center;
    align-items: center;    
    color: white;
    font-weight: 500;
    border: 2px solid 6c36f0;
    font-size: 20px;
    text-decoration: none;
    border-radius: 7px;
    background-color: rgb(108, 54, 240);
    margin-top: 15px;
    transition: all 0.3s ease-in-out;
  }
  .signUpFormContainer .emailAndPassword button:hover{
    background-color: #5326c3;

 
  }
  .signUpFormContainer .emailAndPassword button .spinner-border {
    color: white !important;
  }

  /*//////////////////////////////////////////Login Form//////////////////////////////////////*/
  .loginForm{
    width: 30%;
    height: 100vh;
    min-width: 400px;
    margin: auto;
}
.loginFormContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;  
}


.loginFormContainer .logo{
    width: 100%;
    height:15%;
    
}

    
 .loginFormContainer .loginFormHeading{
    width: 100%;
    text-align: center;
    height: 10%;
 }

 /*********Sign up with goole***********/
 .loginFormContainer .continueWithGoogle{
    margin-bottom: 15px;
    
    width: 97%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid rgb(199, 163, 42);
    height: 6%;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid #f5f5f5;
    border-radius: 9px;
   

 }
 .loginFormContainer .continueWithGoogle:hover{
    background-color: #f5f5f5;
    cursor: pointer;
 }
 
 /*********Email and Password form***********/

 .loginFormContainer .emailAndPassword{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    height: 40%;
    width: 100%;

 }
 /*Email input box*/
 .loginFormContainer .emailAndPassword .email{
    border-radius: 8px;
    width: 92%;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    border:1px solid #d4cfcf;
    margin-top: 10px;
    margin-bottom: 15px;
 }
.loginFormContainer .emailAndPassword .email input{
        border: none;
        outline: none;
}
/*Password input box*/
.loginFormContainer .emailAndPassword .password{
    margin-bottom: 15px;

    border-radius: 8px;
    width: 92%;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    border:1px solid #d4cfcf;
    margin-top: 10px;
 }
 .loginFormContainer .emailAndPassword .password .passwordInput{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

.loginFormContainer .emailAndPassword .password input{
        border: none;
        width: 90%;
        outline: none;
}
.loginFormContainer .emailAndPassword .password .passwordInput .passwordIcon{
    width: 25px;
    height: auto;
    cursor: pointer;
 }

  /*********Sign up button***********/
  .loginFormContainer .emailAndPassword button{
    margin-bottom: 15px;

    width: 95%;
    height: 22%;
    display: flex;
    justify-content: center;
    align-items: center;    
    color: white;
    font-weight: 500;
    border: 2px solid 6c36f0;
    font-size: 20px;
    text-decoration: none;
    border-radius: 7px;
    background-color: rgb(108, 54, 240);
    margin-top: 15px;
    transition: all 0.3s ease-in-out;
  }
  .loginFormContainer .emailAndPassword button:hover{
    background-color: #5326c3;

 
  }
  .loginFormContainer .emailAndPassword button .spinner-border {
    color: white !important;
  }




   /*********Terms of serive***********/
  .loginFormContainer .termsOfService{
    width: 93%;
    height: 8%;
  }
  .loginFormContainer .termsOfService a{
    color: rgb(91, 90, 90);
  }
 .loginFormContainer .alreadySignUp p{
    font-size: 18px;

 }




 .spinner {
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }






        
